<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Neklo_LDAP>
            <version>1.0.0</version>
        </Neklo_LDAP>
    </modules>
    <global>
        <models>
            <neklo_ldap>
                <class>Neklo_LDAP_Model</class>
            </neklo_ldap>
        </models>
        <helpers>
            <neklo_ldap>
                <class>Neklo_LDAP_Helper</class>
            </neklo_ldap>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <auth>
                        <class>neklo_ldap/observer</class>
                        <method>actionPreDispatchAdmin</method>
                    </auth>
                </observers>
            </controller_action_predispatch>
            <controller_action_predispatch_adminhtml_system_config_edit>
                <observers>
                    <neklo_ldap_config_page>
                        <class>neklo_ldap/observer</class>
                        <method>actionPreDispatchConfigPage</method>
                    </neklo_ldap_config_page>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_edit>
        </events>
    </adminhtml>
    <default>
        <neklo_ldap>
            <general>
                <is_enabled>0</is_enabled>
            </general>
            <connection>
                <host>54.165.85.24</host>
                <port>389</port>
                <version>3</version>
                <tls>0</tls>
                <rootdn>cn=LDAPReader,dc=neklo,dc=com</rootdn>
                <basedn>dc=neklo,dc=com</basedn>
                <rootpassword></rootpassword>
                <filter>(memberof=cn=neklotest,ou=groups,dc=neklo,dc=com)</filter>
                <attribute_list>{"username":"uid","firstname":"givenname","lastname":"sn","email":"mail","password":"userpassword"}</attribute_list>
            </connection>
        </neklo_ldap>
    </default>
</config>