<?xml version="1.0"?>
<config>
    <tabs>
        <neklo translate="label" module="neklo_ldap">
            <label>NEKLO LLC</label>
            <sort_order>500</sort_order>
        </neklo>
    </tabs>
    <sections>
        <neklo_ldap module="neklo_ldap">
            <label>LDAP</label>
            <tab>neklo</tab>
            <frontend_type>text</frontend_type>
            <sort_order>500</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_enabled translate="label">
                            <label>Is Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_enabled>
                    </fields>
                </general>
                <connection translate="label">
                    <label>Connection Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <host translate="label">
                            <label>Host</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<b>Ex: </b> ldap.example.com]]></comment>
                        </host>
                        <port translate="label">
                            <label>Port</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<b>Ex: </b> 389]]></comment>
                        </port>
                        <version translate="label">
                            <label>Protocol Version</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<b>Ex: </b> 3]]></comment>
                        </version>
                        <tls translate="label">
                            <label>Enable TLS</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </tls>
                        <rootdn translate="label">
                            <label>Root Dn</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<b>Ex: </b> cn=admin,dc=example,dc=com]]></comment>
                        </rootdn>
                        <basedn translate="label">
                            <label>Base Dn</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </basedn>
                        <rootpassword translate="label">
                            <label>Root Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </rootpassword>
                        <filter translate="label">
                            <label>Filter</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<b>Ex: </b> (&(%s=%s)(groups=magento))]]></comment>
                        </filter>
                        <attribute_list translate="label">
                            <label>Compliant Attribute List</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store><comment><![CDATA[<b>Ex (JSON): </b> {"password":"userPassword"}]]></comment>
                        </attribute_list>
                    </fields>
                </connection>
                <admin translate="label">
                    <label>Admin User Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <role_id translate="label">
                            <label>Admin Role for Users Created by LDAP</label>
                            <frontend_type>select</frontend_type>
                            <source_model>neklo_ldap/system_config_source_role</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </role_id>
                    </fields>
                </admin>
            </groups>
        </neklo_ldap>
    </sections>
</config>